/* Add Montserrat font to the body */
/* Add Montserrat font to the body */
.background1 {
  font-family: "Montserrat", sans-serif;
  background-image: url("SL-113022-54210-35.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; /* Make sure to use a semicolon here */
  overflow: hidden; /* Prevent any overflow content from being visible */
}

.login-container {
  width: 80%; /* 80% of the viewport width */
  max-width: 400px; /* Maximum width of 400px */
  height: auto; /* Let the height adjust based on content */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.5);
  text-align: center; /* Center text and form elements */
}

@media (max-width: 600px) { /* Adjust for smaller screens */
  .login-container {
    width: 90%; /* 90% of the viewport width */
  }
}

h2 {
  color: #fff;
}

.mode-selection {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.mode-selection label {
  margin-right: 20px;
  color: #fff;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center form items horizontally */
  background-color: #d6c5c5;
}

.form-group {
  margin-bottom: 15px;
  text-align: left; /* Align labels to the left */
}

.form-group label {
  color: #fff;
}

.form-group input {
  width: 100%; /* Set input fields to occupy full width */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.form-group input[type="email"] {
  width: calc(100% - 22px); /* Adjust email field width */
}

.form-group input[type="tel"] {
  width: calc(100% - 22px); /* Adjust phone number field width */
}

.login-button {
  background-color: #fff; /* White background color */
  color: #000; /* Black text color */
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #eee; /* Light gray background color on hover */
}
